<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; encoding=utf-8">
    <meta name="description" content="{% block description %}Tweetmap{% endblock %}">
    <meta name="keywords" content="{% block keywords %}tweet,map{% endblock %}">
    {% block head_extra %}{% endblock %}
    <title>Tweetmap | {% block title %}Home{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
